.footer {
    background-color: #1976d2;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    flex: 1;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .company-name {
    font-weight: bold;
  }
  
  .footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 10px; /* Adjust spacing between icons */
  }
  
  .compliance-disclaimer {
    font-size: 12px;
  }
  